body {
    font-family: 'Alegreya', Alegreya, Geneva, Verdana, Helvetica;
    background-image: url("https://image.freepik.com/free-photo/blue-swimming-pool-rippled-water-detail_1258-710.jpg");
    color: darkblue;
    height: 100%;
    /* background-repeat: no-repeat, repeat; */
    background-color: aliceblue;
    

}

.instructions h1 {
    font-size: 25px;
    font-weight: 700;
}

.instructions {
    background-color: #569fff;
    padding: 5px;
    color: #ece7e7;
    margin-top: 0px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color:aliceblue;
  width: 100%;
  border-radius: 0px;
  font-size: 15px;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
.editModal {
    background-color: rgb(121, 206, 255);
    width: 300px;
    border: 10px;
    height: 480px;
}

#map {
    height: 100%;
    }
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
.lead {
    text-align: center;
    font-size: large;
    height: 100%
}
#welcome {
    font-size: 30px;
    text-align: center;
    border-top: 0px;
}
#navbar {
    font-size: 20px;
    text-align: end;
}
.homedropdown {
    font-size: 15px;
    background-color: white
}
.locations {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.detaillist {
    text-align: center;
    font-size:  25px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;

}
.modal {
    text-align: center;
    margin-top: 100px;
    
}
.modal-title {
    border-top: 20px;
}
.newlocation {
    text-align: center;
}