.opacity{
    position: absolute;
    opacity: 0.2; 
    filter: alpha(opacity=20);
}

body {
    font-family: 'Alegreya', Alegreya, Geneva, Verdana, Helvetica;
    /* background: url("https://image.freepik.com/free-photo/blue-swimming-pool-rippled-water-detail_1258-710.jpg"); */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0ErIK7IMohOC9cGy7adGqparMTxHiFVhe8qU9TzGPK6jVIo0v");
    /* background-attachment: fixed; */
    /* background-position: center bottom;  */
    color: darkblue;
    height: 100%;
    background-color: aliceblue;
}

.instructions h1 {
    font-size: 25px;
    font-weight: 700;
}

.instructions {
    background-color: #569fff;
    padding: 5px;
    color: #ece7e7;
    margin-top: 0px;
}

form {
    background-color:aliceblue;
    width: 40%;
    height:50%;
    margin: 20% auto;
    margin-top: 30%;
    padding: 30px;
    border-radius: 2px;
    text-align: center;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color:aliceblue;
  width: 100%;
  border-radius: 0px;
  font-size: 15px;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: none;
    color: #111;
}
.editModal {
    background-color: rgb(121, 206, 255);
    width: 300px;
    border: 10px;
    height: 480px;
}

#map {
    height: 100%;
    }
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
.lead {
    text-align: center;
    font-size: large;
    height: 100%
}
#welcome {
    font-size: 30px;
    text-align: center;
    border-top: 0px;
}
#navbar {
    font-size: 20px;
    text-align: end;
}
.homedropdown {
    font-size: 15px;
    background-color: white
}
.locations {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.detaillist {
    text-align: center;
    font-size:  25px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;

}
.modal {
    text-align: center;
    margin-top: 100px;
    
}
.modal-title {
    border-top: 20px;
}
.newlocation {
    text-align: left;
}
#newLocationGreeting {
    text-align: center;
    size: 20px;
}
.newLocationDropDown {
    size: 20px;
    
}
.logout {
    font-size: 15px;
}

.card {
    background-color: aliceblue;
}
.login {
    margin: 30 px;
}
/* .username {
    margin-right: 100px;
} */